asgiref==3.3.1
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
dj-config-url==0.1.1
Django==3.0.12
django-jsonfield==1.4.1
dt==0.2
gunicorn==20.0.4
idna==2.10
psycopg2-binary==2.8.6
python-dotenv==0.15.0
pytz==2021.1
requests==2.25.1
selenium==3.141.0
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
urllib3==1.26.3
whitenoise==5.2.0
